<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title" style="margin-bottom: 16px">About</span>
            We've all had it happen. It's late at night, you left the WebWork homework to the last minute, and oh no, WebWork is being slow. You wonder, is it just you? Is the server slow? Wonder no more - WPI WebWork Status is here to fix this. <br><br>
            This website keeps an eye on WPI's WebWork servers, reporting the status of it every 5 minutes. Although WPI's WebWork server is reliable, it does tend to get slow before an assignment is due. <br><br>
            Automatic outage detection can help confirm when an outage started or if an outage just ended. There's also a graph showing up to 72 hours of historical response time data. <br><br>
            (v2.6.0 - released 11/28/2021)<br>
            Source code: <a href="https://gitlab.com/o355/wpiwebworkstatus">https://gitlab.com/o355/wpiwebworkstatus</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title" style="margin-bottom: 16px">iOS Shortcut for WebWork Status</span>
            Want to ask Siri if WebWork is down? Now you can! Enable untrusted shortcuts in settings (Settings -> Shortcuts), then click the link below. iOS 13+ is compatible (12 is not).<br><br>
            <a class="linkwrap" href="https://www.icloud.com/shortcuts/17ff870f1ac747cda9ec0bd51dac737a" target="_blank">https://www.icloud.com/shortcuts/17ff870f1ac747cda9ec0bd51dac737a</a><br><br>
            Use it by adding to your homescreen, launching from the shortcuts app, or by asking siri "Is WebWork slow?". On first run, allow the shortcut to access this website. <br><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title" style="margin-bottom: 16px">Methodology</span>
            WebWork status is calculated by using a custom Python library for measuring response times of GET requests using the requests library. How long it takes from the initial request to when the homepage is received is measured as the response time. <br><br>
            The different statuses of WebWork are then reported respectively:
            <ul>
                <li>- WebWork is up (Green Dot) - Response times 4.99s or less</li>
                <li>- WebWork is slow (Yellow Dot) - Response times 5.00s - 9.99s</li>
                <li>- WebWork is very slow (Red Dot) - Response times 10.00s - 19.99s </li>
                <li>- WebWork is extremely slow (Red Dot) - Response times 20.00s - 299.99s </li>
                <li>- WebWork is down (Red Dot) - Response times 300.00s or greater</li>
            </ul>
            Of note - these response times may not accurately translate into what you're experiencing. Depending on where you are in the world, how you're getting online, and if your browser needs to load extra stuff from the WebWork servers (like fonts, images, etc etc), your load times may be much different than what's reported here. <br><br>
            WebWork Status does report a best-case scenario in terms of load times, so keep this in mind.
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title" style="margin-bottom: 16px">Changelog</span>
            WebWork Status gets updated relatively frequently to fix bugs, add features, etc. Here's the full changelog!
            <ul>
                <li>v2.6.0 (11/28/2021) - Removed wwork.wpi.edu support (WebWork for new classes seems to have been fully transitioned to wwserver.wpi.edu)</li>
                <li>v2.5.3 (8/26/2021) - Made wwserver.wpi.edu the default WebWork server.</li>
                <li>v2.5.2 (8/18/2021) - Fix issues with graph lookback selector, streamline codebase</li>
                <li>v2.5.1 (8/15/2021) - Fix graph resizing so iOS 15 Safari works</li>
                <li>v2.5.0 (8/3/2021) - Updated to support monitoring both of WPI's WebWork Servers, added response time to the Siri Shortcut</li>
                <li>v2.4.5 (6/9/2021) - Added new automatic refreshing code</li>
                <li>v2.4.4 (4/28/2021) - Fixed some issues when WebWork goes down, and with the outage explainer box.</li>
                <li>v2.4.3 (3/24/2021) - Updated siri shortcut URL due to shortcut URL outage</li>
                <li>v2.4.2 (2/15/2021) - Updated siri shortcut to work with the new outage status</li>
                <li>v2.4.1 (2/4/2021) - In lieu of the WebWork outage on 2/4, some emergency code fixes were made for better support during WebWork outages.</li>
                <li>v2.4.0 (2/3/2021) - Fixes typos, reworks status breakpoints, reword some sections of text, minor status rewording, removes average response time on first box</li>
                <li>v2.3.1 (1/23/2021) - Fixes bug with lookback settings still not persisting through auto refreshes</li>
                <li>v2.3.0 (1/21/2021) - Fixes bug with lookback settings not persisting through auto refreshes, redo text boxes, add changelog</li>
                <li>v2.2.0 (1/11/2021) - Adds configurable chart lookback (24/48/72h), adds ability to turn on/off average response time line</li>
            </ul>
        </div>
    </div>
</div>