<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://webworkstatus.owenthe.dev/static/statusbutton.css">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>WPI WebWork Status</title>
</head>
<style>
    status-indicator {
        vertical-align: middle;
        top: -3px;
        position: relative;
    }

    /* https://stackoverflow.com/a/5241448 */
    .linkwrap {
        white-space: pre-wrap;  
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;  
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
</style>
{% include "headerjs.html" %}
<body>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="card bg-light">
                        <div class="card-content" style="text-align: center;">
                            <h3><status-indicator {{ status }} pulse></status-indicator>&nbsp; WebWork is {{ wwstatus }}.</h3>
                            <!-- Flip these back to down in jinja2 on 4/2 -->
                            {% if wwstatus != "down" %}
                            <h6>Approximate time to load pages: {{ lastresponse }} seconds</h6>
                            <br><br>
                            {% endif %}
                            {% if wwstatus != "down" %}
                            Last response time: {{ lastresponse_actual }} seconds <br>
                            <!-- Average response time (last 30 mins): {{ avgresponse_actual }} <br> -->
                            {% endif %}
                            Last updated: <span id="lastupdated_text">{{ lastupdated }}</span> <br>
                            <small>(<span id="autoupdatespan">Calculating update time...</span>)</small>
                        </div>
                    </div>
                </div>
                {% if outage == "true" %}
                <div class="row">
                    <div class="card bg-light">
                        <div class="card-content">
                            <span class="card-title" style="margin-bottom: 16px">WebWork is experiencing issues</span>
                            WebWork has been experiencing issues since <span id="outage_starttime">{{ outage_starttime_prefill }}</span>. <br><br>
                            If you're trying to do your WebWork, consider waiting until server load has reduced. If you really need to do your WebWork, check your answers with an external tool before submitting, and be patient.
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if outage == "past" %}
                <div class="row">
                    <div class="card bg-light">
                        <div class="card-content">
                            <span class="card-title" style="margin-bottom: 16px">WebWork was experiencing issues</span>
                            WebWork was experiencing issues between <span id="outage_starttime_2">{{ outage_starttime_prefill }}</span> and <span id="outage_endtime_2">{{ outage_endtime_prefill }}</span> (for an outage duration of ~{{ outage_duration }} minutes). <br><br>
                            If you were trying to do your WebWork during the outage, you should be able to do it now without any issues.
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="card bg-light">
                        <div class="card-content">
                            <span class="card-title" style="margin-bottom: 16px">Historical response times</span>
                            <div id="chart_div" style="min-height: 400px"></div>
                            <br>
                            <b>Show average response times: </b>
                            <label>
                                <input type="checkbox" class="filled-in" onclick="averageUpdate()" id="average-checkbox" checked="checked" />
                                <span style="top: 10px; right: -5px"></span>
                            </label>
                            <br style="margin-bottom: 3px">
                            <b>Data lookback:</b>
                            <label>
                                <input class="with-gap" onclick="drawData(86400); lookback = 86400;" id="lookback-86400" name="chart" type="radio" id="defaultsetting" checked />
                                <span style="padding-left: 25px; padding-right: 5px; color: black">24 hours</span>
                            </label>
                            <label>
                                <input class="with-gap" onclick="drawData(172800); lookback = 172800" id="lookback-172800" name="chart" type="radio" />
                                <span style="padding-left: 25px; padding-right: 5px; color: black">48 hours</span>
                            </label>
                            <label>
                                <input class="with-gap" onclick="drawData(259200); lookback = 259200" id="lookback-259200" name="chart" type="radio" />
                                <span style="padding-left: 25px; padding-right: 5px; color: black">72 hours</span>
                            </label>
                        </div>
                    </div>
                </div>
                {% include "footer.html" %}
            </div>
        </div>
    </div>
</body>
</html>