<b>WPI has two WebWork Servers, <code>wwork.wpi.edu</code> and <code>wwserver.wpi.edu</code>. Select which server your WebWork is running on.</b><br>
<label>
    <input class="with-gap" onclick="siteswitch('wwserver')" id="wwsite-wwserver" name="wwsite" type="radio" />
    <span style="padding-left: 25px; padding-right: 5px; color: black">wwserver.wpi.edu</span>
</label>
<label>
    <input class="with-gap" onclick="siteswitch('wwork')" id="wwsite-wwork" name="wwsite" type="radio" />
    <span style="padding-left: 25px; padding-right: 5px; color: black">wwork.wpi.edu</span>
</label>